.DS_Store
Kinetic_Skeleton_Data_Code/SkeletonBasics-D2D/Debug/
Kinetic_Skeleton_Data_Code/SkeletonBasics-D2D/.vs/
Multiview_Action_3D_Dataset/dataset*
Meeting_Notes
__pycache__
.idea
venv
Ipython_Notebooks/.ipynb_checkpoints